.sidebar{
    position: sticky;
    top: 53px;
    background-color:  #f8f9fa;
    height: fit-content;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    position: sticky;
    top: 0px;
    background-color:#e9ecef;
    z-index: 1;
}
.nav-button{
    justify-content: space-evenly;
}
.side-button{
    margin: 15px;
    width:80%;
}
.btn{width:100%;}

.nav-button{
min-width:100px;
text-align:center;
}
.table>:not(:first-child) {
    border-top: 1px solid currentColor;
}
