body {
    background:#F9F9F9;
    font-family: 'PT Serif', sans-serif;
}
.navbar {
    background:#F9F9F9
}

.card {
    background:#F9F9F9;
    max-width: 1000px;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.add {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}


.mainbtn {
    margin: 0px;
    margin-top: 15px;
    max-width: 1000px;
}

.navbutton{
    margin: 10px;
    height: 34px;
}

.side-button a {
    color: #0000eb; /* Синий цвет текста для ссылки */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    background: #F9F9F9;
    /*border: none;*/
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black; /* Черная рамка при наведении */
}

.side-button a:hover {
    color: red; /* Красный цвет текста при наведении */
    background-color: #f4f4f4; /* Серый цвет фона при наведении */
    border: 1px solid black; /* Черная рамка при наведении */
}

.sidebar {
    display: block;

}

.table {
    max-width: 1000px;
}

.content{
    height:1000px;  
    padding:0px;    
    /*max-width: calc(100% - 500px);*/
    max-width: 1000px;
    min-width: 300px;

}

.btn {
    color: #0000eb; /* Синий цвет текста для ссылки */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    background: #F9F9F9;
    /*border: none;*/
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black; /* Черная рамка при наведении */

}

.btn:hover {
    color: red; /* Красный цвет текста при наведении */
    background-color: #f4f4f4; /* Серый цвет фона при наведении */
    border: 1px solid black; /* Черная рамка при наведении */
}

.nav-link {
    color: #0000eb;
}

input[type="image"] {
    height: 32px;
    max-width: 100%;
}

th:nth-child(2), td:nth-child(2) {
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
    width: 1000px;
}

th:nth-child(5), td:nth-child(5) {
    flex-shrink: 0;
    width: max-content;
    white-space: nowrap;
}

.edit-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.edit-icon input[type="image"] {
    position: relative;
    z-index: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    filter: brightness(1); /* Исходная яркость */
    transition: filter 0.3s ease; /* Плавная анимация */
}

.edit-icon:hover input[type="image"] {
    animation-play-state: paused; /* Остановка анимации при наведении */
    filter: brightness(100%) saturate(10) hue-rotate(100deg); /* Красный цвет при наведении */
}

.edit-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("{{ url_for('static', filename='bin 17.png') }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}


.edit-icon-delete {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.edit-icon-delete input[type="image"] {
    position: relative;
    z-index: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    filter: brightness(1); /* Исходная яркость */
    transition: filter 0.3s ease; /* Плавная анимация */
}

.edit-icon-delete:hover input[type="image"] {
    animation-play-state: paused; /* Остановка анимации при наведении */
    filter: brightness(100%) saturate(10) hue-rotate(100deg); /* Красный цвет при наведении */
}

.edit-icon-delete::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("{{ url_for('static', filename='bin 3.png') }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

th:nth-child(2), td:nth-child(2) {
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
    width: 1000px;
}

th:nth-child(5), td:nth-child(5) {
    flex-shrink: 0;
    width: max-content;
    white-space: nowrap;
}

.image-button {
   width: 30px;
}

.tdIn { 
    padding: 0px;
     position: relative; 
}

.tdIn > input { 
    width: 100%; 
    height:100%; 
    background: transparent; 
    border: transparent; 
    position:absolute; 
    left: 0; 
    top: 0; 
    text-align:center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}