{% extends "Sidebar.html" %}
{% block content %}
{{ super() }}
<div class="content">
   <form action="" class="add" method="post" style="margin-top:5px">
      <div>Добавьте свою собственную компетенцию на нашем сайте</div>
      <input type="hidden" id="UK" value="{{ UK }}">
      <input type="hidden" id="OPK" value="{{ OPK }}">
      <input type="hidden" id="PK" value="{{ PK }}">
      <input name="current_year" id="year" type="hidden" value="{{ current_year }}">
      <input name="current_direction" id="direction" type="hidden" value="{{ current_direction.id }}">
      <div class="form-floating mb-3">
         {{ form.name(class="form-control", style=" margin-top:15px", id="name", readonly=True) }}
         <label for="floatingInput">Название</label>
       </div>
       <div class="form-floating mb-3">
         {{ form.num(class="form-control", style=" margin-top:5px", id="num", min= 1, step = 1, max = 100) }}
         <label for="floatingInput">Номер</label>
       </div>
       <div class="form-floating">
         {{ form.year_approved(class="form-select", style=" margin-top:5px", id="year_approved") }}
         <label for="floatingSelect">Год</label>
       </div>
       <div class="form-floating">
         {{ form.type(class="form-select", style=" margin-top:15px", id="type") }}
         <label for="floatingSelect">Тип</label>
       </div>
       <p style="margin-top:10px">Направление</p>
      {{ form.direction(class="", style=" height:100px", id="direction") }}
      <div class="form-floating">
         {{ form.formulation(class="form-control", style=" margin-top:15px; height:85px;", id="module") }}
         <label for="floatingTextarea2">Формулировка</label>
       </div>
       <div class="form-floating" id="source_label" style="display:none;">
         {{ form.source(class="form-control", style=" margin-top:15px; height:85px;", id="source") }}
         <label for="floatingTextarea2">Источник</label>
       </div>
       {{ form.submit(value="Сохранить", class="btn mainbtn", style="margin-top:20px; display: block") }}
   </form>
</div>
<script>
   var type = document.getElementById("type");
   var num = document.getElementById("num");
   type.addEventListener("change",function(){
      var name = document.getElementById("name");
      if (type.value=="УК"){
         var UK = document.getElementById("UK");
         var source = document.getElementById('source_label');
         //source.disabled = true;
         source.style.display = 'none';
         if (UK.value=="[]")
         {
            num.value = 1
         }
         else{
            var numValue = UK.value.slice(1,-1).split(", ")
            num.value = Number(numValue.at(-1)) + 1
         }
      }
      if (type.value=="ОПК"){
         var OPK = document.getElementById("OPK");
         var source = document.getElementById('source_label');
         //source.disabled = true;
         source.style.display = 'none';
         if (OPK.value=="[]")
         {
            num.value = 1
         }
         else{
            var numValue = OPK.value.slice(1,-1).split(", ")
            num.value = Number(numValue.at(-1)) + 1
         }
      }
      if (type.value=="ПК"){
         var PK = document.getElementById("PK");
         var source = document.getElementById('source_label');
         //source.disabled = false;
         source.style.display = 'block';
         if (PK.value=="[]")
         {
            num.value = 1
         }
         else{
            var numValue = PK.value.slice(1,-1).split(", ")
            num.value = Number(numValue.at(-1)) + 1
         }
      }
      name.value = `${type.value}-${num.value}`;
   });
   num.addEventListener("change",function(){
      var name = document.getElementById("name");

      name.value = `${type.value}-${num.value}`;
   });
   window.addEventListener("load",function(){

      var UK = document.getElementById("UK");
      var name = document.getElementById("name");
      if (UK.value=="[]")
      {
         num.value = 1
      }
      else{
         var numValue = UK.value.slice(1,-1).split(", ")
         num.value = Number(numValue.at(-1)) + 1
      }
      name.value = `УК-${num.value}`
   })
   document.querySelector('select[multiple]').addEventListener('mousedown', (e) => {
  if (e.target.tagName === 'OPTION') {
    e.preventDefault(); // Отменяем действие по умолчанию
    const option = e.target;
    option.selected = !option.selected; // Инвертируем выбранный элемент
    e.target.parentNode.dispatchEvent(new Event('change')); // Генерируем событие изменения
  }
});
</script>
</div>
{% endblock %}\