{% extends "Sidebar.html" %}
{% block content %}
{{ super() }}
<div class="content">
   <form action="" class="add" method="post" style="margin-top:5px">
      <input name="current_year" id="year" type="hidden" value="{{ current_year }}">
      <input name="current_direction" id="direction" type="hidden" value="{{ current_direction.id }}">
      <div class="form-floating mb-3">
         {{ form.name(class="form-control", style=" margin-top:15px", id="name") }}
         <label for="floatingInput">Название</label>
       </div>
       <div class="form-floating">
         {{ form.year_approved(class="form-select", style=" margin-top:15px", id="year_approved") }}
         <label for="floatingSelect">Год</label>
       </div>
       <div class="form-floating">
         {{ form.block(class="form-select", style=" margin-top:15px", id="block") }}
         <label for="floatingSelect">Блок</label>
       </div>
       <div class="form-floating">
         {{ form.module(class="form-select", style=" margin-top:15px", id="module") }}
         <label for="floatingSelect">Модуль</label>
       </div>
       <div class="form-floating">
         {{ form.direction(class="form-select", style=" margin-top:15px", id="direction") }}
         <label for="floatingSelect">Направление</label>
       </div>
       <div class="form-floating">
         {{ form.department(class="form-select", style=" margin-top:15px", id="department") }}
         <label for="floatingSelect">Кафедра</label>
       </div>
       <div class="form-floating">
        {{ form.required(class="form-select", style=" margin-top:15px", id="required") }}
        <label for="floatingSelect">Необходимая дисциплина</label>
      </div>
      {{ form.submit(value="Сохранить",class="btn mainbtn", style="margin-top:20px; ") }}
   </form>
</div>
</div>
<script>
   document.querySelector('select[multiple]').addEventListener('mousedown', (e) => {
  if (e.target.tagName === 'OPTION') {
    e.preventDefault(); // Отменяем действие по умолчанию
    const option = e.target;
    option.selected = !option.selected; // Инвертируем выбранный элемент
    e.target.parentNode.dispatchEvent(new Event('change')); // Генерируем событие изменения
  }
});
</script>
{% endblock %}