{% extends "Sidebar.html" %}
{% block content %}
{{ super() }}
<div class="content">
   <table class="table table-bordered table-hover" style="width:100%; margin-top:5px">
      <thead class="table-light">
      <tr>
          <th>Код</th>
          <th>Описание</th>
          <th style="width: 200px;">Действие</th>
      </tr>
      </thead>
      <tbody>
      {% set ns = namespace(type="", count = 1) %}
      {%  for competence in competencies  %}
        {%  if ns.type != competence.type  %}
            <tr class="table-light"><th style="text-align:center; border-color: inherit;" colspan="3">{{  competence.type  }}</th></tr>
            {%  set ns.type = competence.type  %}
        {%  endif  %}
        <tr>
            <td>{{  competence.name  }}</td>
            <td>{{  competence.formulation }}</td>
            <td style="display: flex; height: 100%;">
               <form action="/UKUP/competence/{{ competence.id }}" method="get" style="margin:5px;">
                   <input name="year" id="editYear{{competence.id}}" type="hidden" value="{{ current_year }}">
                   <input name="direction" id="editDirection{{competence.id}}" type="hidden" value="{{ current_direction.id }}">
                   <label class="edit-icon image-button">
                        <input type="image" src="{{ url_for('static', filename='bin 17.png') }}" alt="Редактировать" class="btn-outline-secondary">
                    </label>
               </form>
                <form action="/UKUP/competence/delete/{{  competence.id  }}" method="post" style="margin:5px;">
                    <input name="year" id="deleteYear{{competence.id}}" type="hidden" value="{{ current_year }}">
                    <input name="direction" id="deleteDirection-{{competence.id}}" type="hidden" value="{{ current_direction.id }}">
                    <label class="edit-icon-delete image-button">
                        <input type="image" src="{{ url_for('static', filename='bin 3.png') }}" alt="Удалить" class="btn-outline-secondary edit-icon">
                    </label>
                </form>
               <form action="/UKUP/competence/connect_discipline/{{ competence.id }}" method="get" style="margin:5px;">
                   <input name="year" id="connectYear{{competence.id}}" type="hidden" value="{{ current_year }}">
                   <input name="direction" id="connectDirection{{competence.id}}" type="hidden" value="{{ current_direction.id }}">
                   <input type="submit" class="btn btn-outline-danger" value="Дисциплины">
               </form>
            </td>
            </tr>
            {%  set ns.count = ns.count + 1  %}
      {%  endfor  %}
      </tbody>
   </table>
</div>
</div>
{% endblock %}