{% extends "Sidebar.html" %}
{% block content %}
{{ super() }}
<div class="content"  style="flex:1; height:1000px;  padding:0px;">
   <table class="table table-bordered table-hover" style="width:100%; margin-top:5px">
      <thead class="table-light">
      <tr>
          <th>№</th>
          <th>Дисциплины</th>
          <th>Блок</th>
          <th>Кафедра</th>
          <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      {% set ns = namespace(module="", count = 1) %}
      {%  for discipline in disciplines  %}
        {%  if ns.module != discipline.module  %}
            <tr class="table-light"><th style="text-align:center; border-color: inherit;" colspan="5">{{  discipline.module.name  }}</th></tr>
            {%  set ns.module = discipline.module  %}
        {%  endif  %}
        <tr>
            <td>{{  ns.count  }}</td>
            <td>{{  discipline.name  }}</td>
            <td>{{  discipline.block.name  }}</td>
            <td>{{  discipline.department.name  }}</td>
            <td style="display: flex;">
                <form action="/UKUP/discipline/{{  discipline.id  }}" method="get" style="margin:5px;">
                    <input name="year" id="editYear{{  discipline.id  }}" type="hidden" value="{{ current_year }}">
                    <input name="direction" id="editDirection{{  discipline.id  }}" type="hidden" value="{{ current_direction.id }}">
                    <label class="edit-icon">
                        <input type="image" src="{{ url_for('static', filename='bin 17.png') }}" alt="Редактировать" class="btn-outline-secondary">
                    </label>
                </form>
                <form action="/UKUP/discipline/delete/{{  discipline.id  }}" method="post" style="margin:5px;">
                    <input name="year" id="deleteYear{{discipline.id}}" type="hidden" value="{{ current_year }}">
                    <input name="direction" id="deleteDirection-{{discipline.id}}" type="hidden" value="{{ current_direction.id }}">
                    <label class="edit-icon-delete">
                        <input type="image" src="{{ url_for('static', filename='bin 3.png') }}" alt="Удалить" class="btn-outline-secondary edit-icon">
                    </label>
                </form>
                <form action="/UKUP/discipline/connect_competence/{{  discipline.id  }}" method="get" style="margin:5px;">
                    <input name="year" id="connectYear{{  discipline.id  }}" type="hidden" value="{{ current_year }}">
                    <input name="direction" id="connectDirection{{  discipline.id  }}" type="hidden" value="{{ current_direction.id }}">
                    <input type="submit" class="btn btn-outline-secondary" value="Компетенции">
                </form>
            </td>
        </tr>
            {%  set ns.count = ns.count + 1  %}
      {%  endfor  %}

      </tbody>
   </table>
</div>
</div>
{% endblock %}