{% extends "Header.html" %}
{% block content %}
<div class="row nav">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse nav-button" id="navbarSupportedContent">
      <form id="form" method="get">
        <input name="year" id="year" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction" type="hidden" value="{{ current_direction.id }}">
      <ul class="navbar-nav  mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item dropdown nav-button">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_year }}
          </a>
          <ul class="dropdown-menu year">
            {% for year in years %}
            <li><span style="cursor: pointer" class="dropdown-item">{{  year  }}</span></li>
            {% endfor %}
          </ul>
        </li>
         <li class="nav-item" style="width:20px;">
        </li>
        <li class="nav-item dropdown nav-button">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_direction.name }}
          </a>
          <ul class="dropdown-menu direction">
            {% for direction in directions %}
            <li><span id="{{ direction.id }}" style="cursor: pointer" class="dropdown-item">{{  direction.name  }}</span></li>
            {% endfor %}
          </ul>
        </li>
        </li>
      </ul>
        </form>
       <form id="form2" method="get" action="/UKUP/{{ type }}/add">
        <input name="year" id="year3" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction3" type="hidden" value="{{ current_direction.id }}">
         <input type="submit" class="btn btn-secondary btn-lg" value="Добавить">
       </form>
    </div>

  </div>
</nav>
<script>
var listYears = document.querySelectorAll('.year li > span');
var listDirections = document.querySelectorAll('.direction li > span');

listYears.forEach((item, index) => {
  item.addEventListener('click', (event) => {
     let year = document.getElementById("year");
     let form = document.getElementById("form");
     year.value = item.innerHTML;
     form.submit()
  });
})

listDirections.forEach((item, index) => {
  item.addEventListener('click', (event) => {
     let direction = document.getElementById("direction");
     let form = document.getElementById("form");
     direction.value = item.id;
     form.submit()
  });
})
</script>
</div>
<div class="row">
    <div class="col-2 sidebar" style=" margin-right:5px;" id="sidebar">
      <div style="margin-top:0px; margin-left:10px; width:80%">Инструменты</div>
      <hr class="dropdown-divider" style="margin: 0 0 .5rem; width:90%">
      <div class="side-button"><form action="/UKUP/discipline" method="get">
        <input name="year" id="year1" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction1" type="hidden" value="{{ current_direction.id }}">
      <input type="submit" class="btn btn-secondary btn-lg" value="Дисциплины">
      </form></div>
      <div class="side-button"><form action="/UKUP/competence" method="get">
        <input name="year" id="year2" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction2" type="hidden" value="{{ current_direction.id }}">
      <input type="submit" class="btn btn-secondary btn-lg" value="Компетенции">
      </form></div>
      <div style="margin-top:35px;width:80%">Отчёты</div>
      <hr class="dropdown-divider" style="margin: 0 0 .5rem; width:90%">

      <div class="side-button"><form action="/UKUP/report/competence/all" method="get">
        <input name="year" id="year3" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction3" type="hidden" value="{{ current_direction.id }}">
        <input type="submit" class="btn btn-secondary btn-lg" value="Компетенции">
      </form></div>

      <div class="side-button"><form action="/UKUP/report/competence/УК" method="get">
        <input name="year" id="year4" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction4" type="hidden" value="{{ current_direction.id }}">
        <input type="submit" class="btn btn-secondary btn-lg" value="УК">
      </form></div>

      <div class="side-button"><form action="/UKUP/report/competence/ОПК" method="get">
        <input name="year" id="year5" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction5" type="hidden" value="{{ current_direction.id }}">
        <input type="submit" class="btn btn-secondary btn-lg" value="ОПК">
      </form></div>
            <div class="side-button"><form action="/UKUP/report/competence/ПК" method="get">
        <input name="year" id="year6" type="hidden" value="{{ current_year }}">
        <input name="direction" id="direction6" type="hidden" value="{{ current_direction.id }}">
        <input type="submit" class="btn btn-secondary btn-lg" value="ПК">
      </form></div>
      <div class="side-button"><a href="/UKUP/test" class="btn btn-secondary btn-lg">Матрица</a></div>
    </div>

{% endblock %}