{% extends "Sidebar prototype.html" %}
{% block content %}
{{ super() }}
<div class="content"  style="flex:1; height:2000px;  padding:0px;">
   <table class="table table-bordered table-hover table-striped" style="width:100%; margin-top:5px">
      <thead class="table-light">
      <tr>
          <th>Код</th>
          <th>Описание</th>
          <th>Дисциплины</th>
          <th style="width: 280px;">Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light"><th style="text-align:center; border-color: inherit;" colspan="4">Универсальные компетенции</th></tr>
        <tr>
            <td>УК-1</td>
            <td>Способен осуществлять поиск, критический анализ и синтез информации, применять системный подход для решения поставленных задач</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
        </tr>
        <tr>
            <td>УК-2</td>
            <td>Способен определять круг задач в рамках поставленной цели и выбирать оптимальные способы их решения, исходя из действующих правовых норм, имеющихся ресурсов и ограничений</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
        </tr>
        <tr class="table-light"><th style="text-align:center; border-color: inherit;" colspan="4">Общепрофессиональные компетенции</th></tr>
        <tr>
            <td>ОПК-1</td>
            <td>Способен применять естественнонаучные и общеинженерные знания, методы математического анализа и моделирования, теоретического и экспериментального исследования в профессиональной деятельности</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
        </tr>
      <tr>
            <td>ОПК-2</td>
            <td>Способен понимать принципы работы современных информационных технологий и программных средств, в том числе отечественного производства, и использовать их при решении задач профессиональной деятельности</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
      </tr>
      <tr>
            <td>ОПК-3</td>
            <td>Способен решать стандартные задачи профессиональной деятельности на основе информационной и библиографической культуры с применением информационно-коммуникационных технологий и с учетом основных требований информационной безопасности</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
      </tr>
      <tr class="table-light"><th style="text-align:center; border-color: inherit;" colspan="4">Профессиональные компетенции</th></tr>
      <tr>
            <td>ПК-1</td>
            <td>Способен осуществлять выявление требований к информационным системам</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
      </tr>
      <tr>
            <td>ПК-2</td>
            <td>Способность осуществлять проектирование и дизайн ИС</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
      </tr>
      <tr>
            <td>ПК-3</td>
            <td>Способность осуществлять разработку прототипов ИС</td>
            <td><button class="btn btn-outline-secondary" style="margin: 5px;width: calc(100% - 10px);">Дисциплины</button></td>
            <td><button class="btn btn-outline-secondary" style="width:calc((100% - 20px)/2);margin:5px;">Редактировать</button><button class="btn btn-outline-danger" style="width:calc((100% - 20px)/2);margin:5px;">Удалить</button></td>
      </tr>
      </tbody>
   </table>
</div>
</div>
{% endblock %}